# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Replit
.cache/
.local/

node_modules/
.next/
artifacts/
dist/
build/
target/
*.log
.env
