:root {
/* white */
--white-100: #fff;
--white-200: rgba(255,255,255,.3);
--white-300: rgba(255,255,255,1);
--white-400: hsl(0,0%,99%);
/* black */
--black-100: #000;
--black-200: #1a1f2e;
--black-300: #10141f;
--black-400: rgba(0,0,0,.08);
--black-500: rgba(0,0,0,0.6);
--black-600: rgba(0,0,0,0.5);
--black-700: hsl(0,0%,9%);
--black-800: hsl(0,0%,12%);
--black-900: hsl(150,100%,6%);
--black-1000: hsl(215,100%,6%);
/* indigo */
--indigo-100: #512da8;
/* darkslategray */
--darkslategray-100: #404144;
--darkslategray-200: #2c2d30;
--darkslategray-300: hsl(0,0%,20%);
--darkslategray-400: hsl(0,0%,25%);
--darkslategray-500: hsl(147,100%,12%);
/* darkgray */
--darkgray-100: #999;
--darkgray-200: #9ca3af;
/* gray */
--gray-100: #777;
/* gainsboro */
--gainsboro-100: #e5e7eb;
/* mediumseagreen */
--mediumseagreen-100: #34d399;
--mediumseagreen-200: #10b981;
--mediumseagreen-300: rgba(52,211,153,0.22);
--mediumseagreen-400: rgba(52,211,153,0.28);
/* seagreen */
--seagreen-100: #059669;
--seagreen-200: #047857;
/* aquamarine */
--aquamarine-100: #6ee7b7;
/* orange */
--orange-100: #f59e0b;
/* crimson */
--crimson-100: #f43f5e;
/* deepskyblue */
--deepskyblue-100: #0ea5e9;
/* mediumslateblue */
--mediumslateblue-100: #8b5cf6;
/* royalblue */
--royalblue-100: #2563eb;
/* orangered */
--orangered-100: #ea580c;
/* mediumvioletred */
--mediumvioletred-100: #db2777;
/* blueviolet */
--blueviolet-100: #9333ea;
/* darkcyan */
--darkcyan-100: #0d9488;
/* whitesmoke */
--whitesmoke-100: hsl(0,0%,93%);
/* silver */
--silver-100: hsl(0,0%,78%);
/* honeydew */
--honeydew-100: hsl(143,85%,96%);
--honeydew-200: hsl(145,92%,91%);
/* forestgreen */
--forestgreen-100: hsl(140,100%,27%);
/* aliceblue */
--aliceblue-100: hsl(208,100%,97%);
/* lavender */
--lavender-100: hsl(221,91%,91%);
/* dodgerblue */
--dodgerblue-100: hsl(210,92%,45%);
/* floralwhite */
--floralwhite-100: hsl(49,100%,97%);
/* cornsilk */
--cornsilk-100: hsl(49,91%,91%);
/* chocolate */
--chocolate-100: hsl(31,92%,45%);
/* lavenderblush */
--lavenderblush-100: hsl(359,100%,97%);
/* mistyrose */
--mistyrose-100: hsl(359,100%,94%);
/* red */
--red-100: hsl(360,100%,45%);
/* mediumspringgreen */
--mediumspringgreen-100: hsl(150,86%,65%);
/* midnightblue */
--midnightblue-100: hsl(223,100%,12%);
/* cornflowerblue */
--cornflowerblue-100: hsl(216,87%,65%);
/* darkolivegreen */
--darkolivegreen-100: hsl(60,100%,12%);
/* goldenrod */
--goldenrod-100: hsl(46,87%,65%);
/* maroon */
--maroon-100: hsl(357,89%,16%);
/* lightcoral */
--lightcoral-100: hsl(358,100%,81%);
/* Homepage Colors */
--black: rgb(5, 11, 21);
--lightgray: rgb(209, 212, 219);
--mediumaquamarine: rgb(65, 201, 152);
--dimgray: rgb(79, 97, 100);
--gray: rgb(132, 132, 143);
--black: rgb(22, 26, 37);
--slategray: rgb(124, 128, 140);
--black: rgb(36, 34, 40);
--darkslategray: rgb(43, 51, 61);
--darkslategray: rgb(63, 67, 84);
--darkslategray: rgb(68, 68, 75);
--darkslategray: rgb(9, 54, 39);
}
